// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Breakpoints
$bp-larger-than-mobile    : "min-width: 400px" !default;
$bp-larger-than-phablet   : "min-width: 550px" !default;
$bp-larger-than-tablet    : "min-width: 750px" !default;
$bp-larger-than-desktop   : "min-width: 1000px" !default;
$bp-larger-than-desktophd : "min-width: 1200px" !default;

// Colors
$light-grey: #e1e1e1 !default;
$dark-grey: #333 !default;
$primary-color: #fbc400 !default;

$button-color: #fff !default;
$button-border: #b2b2b2 !default;
$button-bottom: #929292 !default;

$primary-button-color: #ffdc00 !default;
$primary-button-border: darken($primary-button-color, 20%) !default;
$primary-button-bottom: darken($primary-button-border, 5%) !default;

$button-font-height: 8pt !default;

$secondary-color: lighten($dark-grey, 13.5%) !default;
$border-color: #b2b2b2 !default;
$link-color: #1c55ae !default;
$font-color: #4b4b4b !default;

// Typography
$font-family: "Noto Sans", "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, "MS Sans Serif", Arial, sans-serif !default;

//Grid Variables
$container-width: 960px !default;
$container-width-larger-than-mobile: 85% !default;
$container-width-larger-than-phablet: 80% !default;
$total-columns: 12 !default;
$column-width: 100 / $total-columns !default; // calculates individual column width based off of # of columns
$column-margin: 1% !default; // space between columns

// Misc
$global-radius: 2px !default;

$control-height: 28px !default;

$edit-buttons: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJAAAAAQCAYAAAD59vZgAAACZ0lEQVRoge2ZvW4TQRRGj1HaUCEaSEAUSNNELkCyoSBdJKTPz0ABFMAzIBc8AAVQUeQZfCXqFMh2CQJpREVIoAEUBeholiK7YbPx2t6M7WXDHsnaveO5O3fGn+/8LAQQRVGIe+lUPf5QZtH/MzOIo+Y/ZiltSPoJLI+p/8vMzk56qKTIzBp5ds3pYSljL4/7oSWNzXmS+kC71+vR6XQO66bsgZndCIp4geT19zT/GZxzEfAJ2ATuxMXJ/SXv/ZG+ZwU0USQTaAN0Op0jhSm7HfDsUsiKJXB8pkLSBTP7kmfPmR9A03u/75xbB/Ded51zT4HtbOVjAgrJQDXhSFoFXkm6a2ZDSS3gpaTbZrazgBDWvff72cK0oNIcExD8XbNkr9O0PisBSvoAXAU+mtmVaf1CSWIMmaYkvQXWUkXvzGwtr34aM9uRdI8D0TwDHgH3FyQevPdvinw3cheWDF72Oi3Jj5C9FuQm8BloncAXSecl7Uo6V9R3Bmuc68BefL8HXCvY/gB4DjwGXphZPzCeuTFSQKECCBVg7PPdzFbM7GtR35g+cBF4fUJ/4KDv6c80Pmb2G2gC34BmbBdpswU8BJ4ADyRVY+2YN0B5QsoeROUJLzATzY1RB2llxyhpRdL7RDSS2rG9Ouu2Jh0kOue2nHNb4+pMlYGKMosM9C+xSFGZ2S6wEU9jyXS2sag1UFFGLqIDBDCcMNjDYuGVQ9lZKLtlL7KFT2948u4n4Zy7DHSBW7G9CXS999vZutkzjgHjF61DMzucj6MootGobnKpevyhlN7/qr+MrHr8odQvU2tKpxZQTRB/ANocUA+cuFg1AAAAAElFTkSuQmCC') !default;