.tabs {
    width: 100%;
    height: 100%;
}

.tabs>ul,
.tabs>ul>li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.tabs>ul {
    border-bottom-color: $light-grey;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    align-items: center;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: $control-height/2;
}

.tabs,
.tabs>ul>li>input[type="radio"]:checked+label {
    position: relative;
}

.tabs>ul>li,
.tabs>ul>li>input[type="radio"]+label {
    display: inline-block;
}

.tabs>ul>li>div,
.tabs input[type="radio"] {
    position: absolute;
}

.tabs>ul>li>div,
.tabs>ul>li>input[type="radio"]+label {
    border: none; //solid 1px $button-border;
}

.tabs>ul>li {
    vertical-align: top;
}

// .tabs li:first-child {
//     margin-left: 8px;
// }
.tabs>ul>li>div {
    top: $control-height+1px;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: $control-height/2; // overflow: auto;
    background: $button-color;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.tabs>ul>li>input[type="radio"]+label {
    margin: 0 2px 0 0;
    padding: 0 $control-height/2;
    line-height: $control-height;
    background: lighten($light-grey, 6.4%);
    text-align: center;
    border-radius: $global-radius $global-radius 0 0;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.tabs>ul>li>input[type="radio"]:checked+label {
    z-index: 1;
    background: lighten($primary-button-color, 20%);
    border-bottom-color: $primary-button-color;
    cursor: default;
}

.tabs>ul>li>input[type="radio"] {
    opacity: 0;
}

.tabs>ul>li>input[type="radio"]~div {
    display: none;
}

.tabs>ul>li>input[type="radio"]:checked:not(:disabled)~div {
    display: block;
}

.tabs>ul>li>input[type="radio"]:disabled+label {
    color: $border-color;
    cursor: no-drop;
}